############
## YOURLS
############

# Configuration
dist/user/*
!dist/user/config-sample.php
*.config
*.conf
dist/[Rr]obots.txt

# Languages
dist/user/languages/*
!dist/user/languages/

# Plugins
dist/user/plugins/*
# Core plugins
!dist/user/plugins/hyphens-in-urls/
!dist/user/plugins/random-bg/
!dist/user/plugins/sample-page/
!dist/user/plugins/sample-plugin/
!dist/user/plugins/sample-toolbar/

# Pages
dist/pages/*
!dist/pages/examplepage.php

# Keep index.html
!dist/user/index.html
!dist/user/*/index.html

dist/index.php

############
## Tests
############

test*.php
tests/

############
## Environnement
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

# NetBeans files
/nbproject/